@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500&display=swap');

.lato{
  font-family: 'Lato', sans-serif;
}

.robo{
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

#root{
  background-color: #4368B2;
  height: 100vh;
}

.bg-1{
  background-color: #4368B0;
}

.bg-2{
  background-color: #3F60A3;
}

.links-nav{
  color: white;
  text-decoration: none;
}

.leafcont{
  background-image: url('./leaf.png');
  height: auto;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.head-banner{
  color: white;
  height: 200px;
}

.category{
  color: white;
  background-image: url('./leaf.png');
  height: 180px;
  width: auto;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  
}
@media only screen and (max-width: 600px)  {
 .villagerCont{
  width: 50% !important;
 }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
